@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Roboto&display=swap');

:root {
  --primary-light: #f5f5f5;
  --primary-dark: #333333;
  --backrgound-dark: rgba(51, 51, 51, 0.5);
  --background-light: rgba(245, 245, 245, 0.5);

  --title-text: 'PT Serif', serif;
  --body-text: 'Roboto', sand-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fnt-primary);
}

/* time of day gradients */
.night,
.day,
.sunset {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100vh;
  z-index: 0;
  transform: translateY(0);
  opacity: 0;
}

.night {
  background: #28166b;
  background: linear-gradient(to bottom, #28166b 0%, #45217c 100%);
}

.day {
  background: #fda65a;
  background: linear-gradient(to bottom, #fda65a 0%, #ffe467 100%);
  transition: all 3s ease-in-out;
}

.sunset {
  background: #f06b7e;
  background: linear-gradient(to bottom, #f06b7e 0%, #f9a856 100%);
  transition: all 0 0.6s ease-in-out;
}

.fadeIn {
  opacity: 1 !important;
  transition: all 0 0.6s ease-in-out;
}

.hide {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--body-text);
  font-size: 1em;
  color: var(--primary-light);
  transition: all 0.6s 0.2s ease-in-out;
}

.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

header {
  margin: 0.5rem 0;
}
/**** navbar ****/
nav {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 20px;
  background-color: var(--backrgound-dark);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

nav .search-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav label {
  color: var(--primary-light);
}

.search-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#searchIcon {
  cursor: pointer;
}

.input-cont {
  margin-left: 0.5rem;
  transition: all 0.5s ease-in-out;
  transform: translate(-160%);
}

.location-input {
  width: 15rem;
  font-size: 0.9em;
  color: var(--primary-light);
  background: none;
  border: none;
}

.saved-carrot {
  cursor: pointer;
}

::placeholder {
  font-size: 0.9em;
  color: var(--background-light);
}

.location-input:focus {
  outline: none;
}

/* toggle class in js for search bar */
.show-input {
  border-bottom: solid 1px var(--background-light);
  transform: translate(0);
}

.saved-cont {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.saved-search {
  margin-top: 0.5rem;
  margin-left: 1.5rem;
  list-style-type: none;
  font-size: 0.9em;
}

.saved-search li {
  width: 15rem;
  margin-top: 1rem;
  padding: 0.5rem;
  text-decoration: none;
  border-bottom: solid 1px var(--background-light);
  cursor: pointer;
}

.clear-btn {
  width: 8.5rem;
  margin: 1rem 0 0.5rem 4.5rem;
  padding: 0.3rem;
  text-align: center;
  color: #b93e51;
  background: linear-gradient(
    to bottom,
    var(--primary-light) 0%,
    var(--background-light) 100%
  );
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.45) 1.95px 1.95px 2.6px;
  cursor: pointer;
}

.clear-btn:active {
  transform: translateY(8%);
}

.show-links {
  height: 5rem;
  overflow: scroll;
}

/* toggle class in js for search bar */
.deg-cont {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 0.5rem;
  font-size: 0.9em;
}

/* toggle switch for measurement unit */
#toggleF,
#toggleC {
  width: 0.9rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.6rem;
  height: 1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--backrgound-dark);
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1rem;
  width: 1rem;
  left: 0;
  bottom: 0;
  background-color: var(--primary-light);
  transition: 0.4s;
}

input:checked + .slider {
  color: var(--primary-dark);
  background-color: var(--background-light);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--background-light);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(1.3rem);
}

.slider.round {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/***** current weather *****/
.primary-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 0.9em;
  border-radius: 20px;
  background-color: var(--backrgound-dark);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.day-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.date-time,
.location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.location {
  text-align: right;
}

.current-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-side-left,
.card-side-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.currentIcon {
  width: 75%;
}

.card-center h2 {
  padding-bottom: 0.3rem;
  font-size: 2.5em;
}

.card-side-right #uvIcon {
  font-family: var(--body-text);
}

/***** hourly weather *****/
.hourly-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 20px;
  background-color: var(--backrgound-dark);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  /* for scroll */
  width: 90vw;
  overflow-x: auto;
  white-space: nowrap;
}

.hourlyTime-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.03rem 0.5rem;
  padding: 0.3rem;
}

.hourlyTime-card img {
  width: 100%;
}

/***** Daily weather *****/
.daily {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* for scroll */
  width: 90vw;
  overflow-x: auto;
  white-space: nowrap;
}

.daily-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 0.9em;
  border-radius: 20px;
  background-color: var(--backrgound-dark);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.daily-card img {
  width: 12vw;
}

.daily-inner-cont {
  display: flex;
}

.daily-inner-cont .card-side-left,
.daily-inner-cont .card-side-right {
  margin: 1rem 0.5rem;
}

/* modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.8);
  transition: all 0.3s linear;
  visibility: hidden;
  z-index: -10;
}

/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;
}

.modal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;
  padding: 3rem auto;
  height: 50vh;
  text-align: center;
  color: var(--primary-dark);
  background-color: var(--primary-light);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.65) 1.95px 1.95px 2.6px;
}

.modal-input {
  width: 20rem;
  height: 2.3rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 1em;
  color: var(--primary-dark);
  background-color: var(--backrgound-light);
  border: solid 1px var(--backrgound-dark);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.modal-input::placeholder {
  color: var(--backrgound-dark);
}

.hide {
  display: none;
}

@media screen and (max-width: 400px) {
  #uvKey {
    display: none;
  }
}
