@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Roboto&display=swap');

:root {
  --primary-light: #f5f5f5;
  --primary-dark: #333333;
  --backrgound-dark: rgba(51, 51, 51, 0.5);
  --background-light: rgba(245, 245, 245, 0.5);

  --title-text: 'PT Serif', serif;
  --body-text: 'Roboto', sand-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fnt-primary);
}

body {
  height: 100vh;
  font-family: var(--body-text);
  font-size: 1rem;
  color: var(--primary-light);
}

.wrapper {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  transition: all 0.6s 0.2s ease-in-out;
}

/* time of day gradients */
.night {
  background: #28166b;
  background: linear-gradient(to bottom, #28166b 0%, #45217c 100%);
}

.day {
  background: #fda65a;
  background: linear-gradient(to bottom, #fda65a 0%, #ffe467 100%);
  transition: all 3s ease-in-out;
}

.sunset {
  background: #f06b7e;
  background: linear-gradient(to bottom, #f06b7e 0%, #f9a856 100%);
}

header {
  margin: 0.5rem 0;
}
/**** navbar ****/
nav {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 20px;
  background-color: var(--backrgound-dark);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

nav .search-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35vw;
}

nav label {
  color: var(--primary-light);
}

.location-input {
  max-width: 30vw;
  flex-grow: 3;
  font-size: 0.5rem;
  color: var(--primary-light);
  background: none;
  border: none;
  transition: all 0.5s ease-in-out;
  transform: translate(-150%);
}

::placeholder {
  font-size: 0.5rem;
  color: var(--background-light);
}

/* toggle class in js for search bar */
.show-input {
  border-bottom: solid 1px var(--background-light);
  transform: translate(0);
}

.deg-cont {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 7vw;
}

.deg-cont p {
  font-size: 0.8rem;
}

/***** current weather *****/
.primary-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 0.8em;
  border-radius: 20px;
  background-color: var(--backrgound-dark);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.date-time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.current-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-side-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.card-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-center h2 {
  padding-bottom: 0.3rem;
  font-size: 2em;
}

.card-side-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/***** hourly weather *****/
.hourly-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 0.8em;
  border-radius: 20px;
  background-color: var(--backrgound-dark);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  /* for scroll */
  width: 100vw;
  overflow-x: auto;
  white-space: nowrap;
  overflow-inline: scroll;
}

.hourlyTime-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hourlyTime-card img {
  width: 50px;
}

.hide {
  display: none;
}
